.mobile-container {
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

@media (max-width: 849px) {
    .mobile-container {
        display: flex;
    }
}

@media (min-width: 850px) {
    .mobile-container {
        display: none;
    }
}

.mobile-card {
    max-width: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
}

.mobile-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
}

.mobile-typography-h5 {
    color: #5C4500;
    text-align: center;
}